<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <b>LASTPRO_USERS 테이블</b>
    <table>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>가게</th>
        <th>주소1</th>
        <th>핸폰</th>
        <th>주소2</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.USER_ID }}</td>
        <td>{{ user.USER_NM }}</td>
        <td>{{ user.USER_STORE }}</td>
        <td>{{ user.USER_ADD }}</td>
        <td>{{ user.USER_HP }}</td>
        <td>{{ user.USER_ADD2 }}</td>
      </tr>
      {% endfor %}
    </table>

    <br />
    <br />
    <b>LASTPRO_SHOP 테이블</b>
    <table>
      <tr>
        <th>샵 아이디</th>
        <th>유저 아이디</th>
      </tr>
      {% for user1 in shops %}
      <tr>
        <td>{{ user1.SHOP_ID }}</td>
        <td>{{ user1.USER_ID }}</td>
      </tr>
      {% endfor %}
    </table>

    <br />
    <br />

    <b>LASTPRO_VISIT 테이블</b>
    <table>
      <tr>
        <th>샵 아이디</th>
        <th>유저 아이디</th>
        <th>방문객 아이디</th>
        <th>입장 시간</th>
      </tr>
      {% for user2 in visits %}
      <tr>
        <td>{{ user2.SHOP_ID }}</td>
        <td>{{ user2.USER_ID }}</td>
        <td>{{ user2.V_ID }}</td>
        <td>{{ user2.V_ENTIME }}</td>
      </tr>
      {% endfor %}
    </table>

    <br />
    <br />

    <b>LASTPRO_DANCODE 테이블</b>
    <table>
      <tr>
        <th>행동코드</th>
        <th>행동코드한글</th>
      </tr>
      {% for user3 in dancodes %}
      <tr>
        <td>{{ user3.DAN_CODE }}</td>
        <td>{{ user3.DAN_CODE_KOR }}</td>
      </tr>
      {% endfor %}
    </table>

    <br />
    <br />

    <b>LASTPRO_DAN 테이블</b>
    <table>
      <tr>
        <th>유저 아이디</th>
        <th>샵 아이디</th>
        <th>행동 아이디</th>
        <th>행동시간</th>
        <th>행동코드</th>
      </tr>
      {% for user4 in dans %}
      <tr>
        <td>{{ user4.USER_ID }}</td>
        <td>{{ user4.SHOP_ID }}</td>
        <td>{{ user4.DAN_V_ID }}</td>
        <td>{{ user4.DAN_TIME }}</td>
        <td>{{ user4.DAN_CODE }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
